<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103011816965-cv3r5pue93qqnej52dmniuradhhh1bnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103011816965-cv3r5pue93qqnej52dmniuradhhh1bnr</string>
	<key>API_KEY</key>
	<string>AIzaSyArLSwlTDz3pMUHkp9_G60x9iRQofFqvJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>103011816965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.shagunyadav.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-d3c5f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-d3c5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103011816965:ios:dd403ddea521dfc6556e6c</string>
</dict>
</plist>